@model ProgressTracker.MVC.Models.LoginViewModel
@using ProgressTracker.MVC.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using SNGCommon.Resources
@inject IHtmlLocalizer<SNGCommon.Resources.Translation> localizer

@{
   ViewData["Title"] = "Login";
}

<h1>@localizer[Translation.Login]</h1>
<div id="login" class="section">
   <div asp-validation-summary="ModelOnly" class="red-text"></div>
   <form method="post" asp-controller="account" asp-action="login">
      <div class="card">
         <div class="card-content">
            <p class="title">@localizer[Translation.Login]</p>
            <div class="row">
               <div class="input-field">
                  <input type="email" asp-for="Email" class="validate" placeholder="@nameof(Model.Email)">
                  <span asp-validation-for="Email" class="helper-text red-text"></span>
               </div>
            </div>
            <div class="row">
               <div class="input-field">
                  <input type="password" asp-for="Password" class="validate" placeholder="@nameof(Model.Password)">
                  <span asp-validation-for="Password" class="helper-text red-text"></span>
               </div>
            </div>
            <input type="hidden" asp-for="Language" />
            <button type="submit" class="btn waves-effect waves-light">@localizer[Translation.Login]</button>
         </div>
      </div>
   </form>
</div>
