@model ProgressTracker.MVC.Models.Pttask
@using Microsoft.AspNetCore.Mvc.Localization
@using SNGCommon.Resources
@inject IHtmlLocalizer<Translation> localizer

@{
   ViewData["Title"] = localizer[Translation.Edit];
   string returnUrl = ViewBag.ReturnUrl as string;
}
<div id="edit-task-panel" class="container">
   <div class="row">
      <form asp-action="Edit" class="col s12">
         <div asp-validation-summary="ModelOnly" class="red-text"></div>
         <input type="hidden" asp-for="Id" />
         <input type="hidden" asp-for="PtprojectId" />
         <input type="hidden" name="returnUrl" value="@returnUrl" />
         <div class="row">
            <div class="input-field col s12">
               <input type="text" asp-for="Description" class="validate" placeholder="@nameof(Model.Description)">
               <label asp-for="Description">@nameof(Model.Description)</label>
               <span asp-validation-for="Description" class="helper-text red-text"></span>
            </div>
            <div class="col s6 px-5">
               <button type="submit" class="btn btn-fullwidth waves-effect waves-light black white-text">@localizer[Translation.SaveChanges]</button>
            </div>
            <div class="col s6 px-5">
               <a class="waves-effect waves-light btn btn-fullwidth modal-trigger red" href="#modal-delete-task">@localizer[Translation.Delete]</a>
            </div>
         </div>
      </form>
      <div id="modal-delete-task" class="modal">
         <div class="modal-content">
            <form asp-action="Delete" method="post">
               <div asp-validation-summary="ModelOnly" class="red-text"></div>
               <input type="hidden" asp-for="Id" />
               <input type="hidden" name="returnUrl" value="@Url.Action("Details", "Project", new { id = Model.PtprojectId })" />
               <div class="modal-content">
                  <p>@localizer.GetString(Translation.DeleteTaskQuestion, Model.Description)</p>
               </div>
               <div class="modal-footer">
                  <button type="submit" class="modal-close btn btn-fullwidth waves-effect waves-light red">@localizer[Translation.Confirm]</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
