@using System.Security.Claims
@using ProgressTracker.MVC.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using SNGCommon.Resources
@inject IHtmlLocalizer<Translation> localizer
@inject ProgressTracker.MVC.Services.IProjectService projectService

@{
   var identity = Context.User.Identity as ClaimsIdentity;
   string username = identity?.Name;
   string email = identity?.FindFirst(ClaimTypes.Email)?.Value?.ToString();
   int.TryParse(identity?.FindFirst(ClaimTypes.NameIdentifier)?.Value, out int userId);
   bool authenticated = Context.User.Identity.IsAuthenticated;
   var allProjects = projectService.GetAll(userId).ToList();
   var activeProjects = allProjects.Where(p => p.Active && (p.Pttask.Any(t => t.Active && !t.Completed) || p.Pttask.Count == 0)).ToList();
   var closedProjects = allProjects.Where(p => p.Active && p.Pttask.All(t => !t.Active || t.Completed) && p.Pttask.Count > 0).ToList();
   string activeProjectsCount = activeProjects.Count > 0 ? activeProjects.Count.ToString() : string.Empty;
   string closedProjectsCount = closedProjects.Count > 0 ? closedProjects.Count.ToString() : string.Empty;
}

<ul id="sidenav" class="sidenav sidenav-fixed">
   <li>
      <div class="user-view">
         <div class="background"></div>
         <span class="bold-text text-lg">Progress Tracker</span>
         <span class="name bold-text text-lg">@username</span>
         <span class="emai">@email</span>
      </div>
   </li>
   <li><div class="divider"></div></li>
   @if (authenticated)
   {
      <li><a class="waves-effect" asp-controller="project" asp-action="index"><i class="material-icons left">view_list</i>@localizer[Translation.All]<span class="badge">@activeProjectsCount</span></a></li>
      <li><a class="waves-effect" asp-controller="project" asp-action="index" asp-route-closed="true"><i class="material-icons left">done</i>@localizer[Translation.Done]<span class="badge">@closedProjectsCount</span></a></li>
      <li><a class="waves-effect" asp-controller="project" asp-action="index" asp-route-deleted="true"><i class="material-icons left">delete</i>@localizer[Translation.Trash]</a></li>
   }
   <li><div class="divider"></div></li>
   @if (authenticated)
   {
      <li><a class="waves-effect waves-light" asp-controller="account" asp-action="logout"><i class="material-icons left">exit_to_app</i>@localizer[Translation.Logout]</a></li>
      <li><a class="waves-effect" asp-controller="setting" asp-action="index"><i class="material-icons left">settings</i>@localizer[Translation.Settings]</a></li>
   }
   else
   {
      <li><a class="waves-effect" asp-controller="account" asp-action="login"><i class="material-icons left">person</i>@localizer[Translation.Login]</a></li>
      <li><a class="waves-effect" asp-controller="account" asp-action="register"><i class="material-icons left">add</i>@localizer[Translation.Register]</a></li>
   }
   <li><div class="divider"></div></li>
   @if (authenticated)
   {
      <li><a class="waves-effect" asp-controller="project" asp-action="add"><i class="material-icons left">add</i>@localizer[Translation.NewList]</a></li>
   }
   @if (activeProjects.Count() > 0)
   {
      <li><a class="subheader text-uppercase">@localizer[Translation.AllListing]</a></li>
      foreach (Ptproject project in activeProjects)
      {
         <li><a class="waves-effect" asp-controller="project" asp-action="detail" asp-route-id="@project.Id">@project.Name</a></li>
      }
   }
</ul>