@using System.Security.Claims;
@using ProgressTracker.Models;
@using Microsoft.AspNetCore.Mvc.Localization
@using SNGCommon.Resources
@inject IHtmlLocalizer<SNGCommon.Resources.Translation> localizer
@inject ProgressTracker.Services.IProjectService projectService

@{
   var identity = Context.User.Identity as ClaimsIdentity;
   string username = identity?.Name;
   string email = identity?.FindFirst(ClaimTypes.Email)?.Value?.ToString();
   int.TryParse(identity?.FindFirst(ClaimTypes.NameIdentifier)?.Value, out int userId);
   bool authenticated = Context.User.Identity.IsAuthenticated;
   var projects = projectService.GetAll(userId);
}
<ul id="sidenav" class="sidenav sidenav-fixed">
   <li>
      <div class="user-view">
         <div class="background black"></div>
         <a href=""><span class="name white-text">@username</span></a>
         <a href=""><span class="email white-text">@email</span></a>
         @if (!authenticated)
         {
            <span class="white-text">Progress Tracker</span>
         }
      </div>
   </li>
   <li><a class="waves-effect" asp-page="projects"><i class="material-icons left">view_list</i>@localizer[Translation.ActiveProjects]</a></li>
   <li><a class="waves-effect" asp-page="projects" asp-page-handler="closed"><i class="material-icons left">done</i>@localizer[Translation.ClosedProjects]</a></li>
   <li><a class="waves-effect" asp-page="projects" asp-page-handler="deleted"><i class="material-icons left">delete</i>@localizer[Translation.DeletedProjects]</a></li>
   @if (authenticated)
   {
      <li><a class="waves-effect waves-light" asp-page="logout"><i class="material-icons left">exit_to_app</i>@localizer[Translation.Logout]</a></li>
   }
   else
   {
      <li><a class="waves-effect" asp-page="login"><i class="material-icons left">person</i>@localizer[Translation.Login]</a></li>
      <li><a class="waves-effect" asp-page="register"><i class="material-icons left">add</i>@localizer[Translation.Register]</a></li>
   }
   <li><div class="divider"></div></li>
   @if (authenticated)
   {
      <li>
         <a href="#modal-create-project" class="modal-trigger waves-effect">
            <i class="material-icons left">add</i>@localizer[Translation.CreateNewList]
         </a>
      </li>
   }
   @if (projects.Count() > 0)
   {
      <li><div class="divider"></div></li>
      <li><a class="subheader text-uppercase">@localizer[Translation.Projects]</a></li>
      foreach (var project in projects)
      {
         <li><a class="waves-effect" asp-page="project" asp-route-id="@project.Id">@project.Name</a></li>
      }
   }
   <li><a class="waves-effect" asp-page="setting"><i class="material-icons left">settings</i>@localizer[Translation.Settings]</a></li>
</ul>
<div id="modal-create-project" class="modal">
   <partial name="_IndexProjectAddPartial" model="new Ptproject { PtuserId = userId }" />
</div>