@model ProgressTracker.Models.Pttask
@using ProgressTracker.Services;
@using Microsoft.AspNetCore.Mvc.Localization
@using SNGCommon.Resources

@inject IHtmlLocalizer<SNGCommon.Resources.Translation> localizer
@{
   string modalId = string.Format("modal-p{0}-o{1}", Model.PtprojectId, Model.Id);
}
<div>
   <label>
      <input type="checkbox" @(Model.Completed ? "checked='checked'" : "") onchange="onCheckboxChanged(this)" data-url="@Url.Page("task", "status")" data-id="@Model.Id" />
      <span class="checkbox-label black-text @(Model.Completed ? "line-through" : "")">@Model.Description</span>
   </label>
   <a href="#@modalId" class="secondary-content modal-trigger black-text"><i class="material-icons">edit</i></a>

   <div id="@modalId" class="modal">
      <form method="post">
         <input type="hidden" name="@nameof(Model.Id)" value="@Model.Id" />
         <input type="hidden" name="@nameof(Model.PtprojectId)" value="@Model.PtprojectId" />
         <div class="modal-content">
            <div class="input-field">
               <input asp-for="Description" class="validate focus-first" />
               <label asp-for="Description"></label>
               <span asp-validation-for="Description" class="helper-text red-text"></span>
            </div>
         </div>
         <div class="modal-footer">
            <button type="submit" asp-page="task" asp-page-handler="description" asp-route-returnurl="@Context.Request.Path" class="btn black waves-effect waves-light">
               <i class="material-icons left">save</i>
               <span class="white-text">@localizer[Translation.SaveChanges]</span>
            </button>
         </div>
      </form>
   </div>
</div>
