@page
@using ProgressTracker.Models;
@using ProgressTracker.Services;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SNGCommon.Resources.Translation> localizer
@model IndexModel
@{
   ViewData["Title"] = "";
   int.TryParse(TempData["ActiveProjectId"]?.ToString(), out int activeProjectId);
}

<div class="container">
   <div class="section">
      <ul class="collapsible popout">
         @foreach (ProjectViewModel projectViewModel in Model.Projects)
         {
            string addModalId = string.Format("add-modal-p{0}", projectViewModel.Project.Id);
            string editModalId = string.Format("edit-modal-p{0}", projectViewModel.Project.Id);
            string deleteModalId = string.Format("delete-modal-p{0}", projectViewModel.Project.Id);
            bool isActive = projectViewModel.Project.Id == activeProjectId;
            <li class="index-project-entry @(isActive ? "active" : "")">
               <div class="collapsible-header">
                  @projectViewModel.Project.Description
               </div>
               <div class="collapsible-body">
                  <div class="row">
                     <div class="right">
                        <a href="#@addModalId" class="modal-trigger btn-flat waves-effect waves-light">
                           <i class="material-icons">add</i>
                        </a>
                        <a href="#@editModalId" class="modal-trigger btn-flat waves-effect waves-light">
                           <i class="material-icons">edit</i>
                        </a>
                        <a href="#@deleteModalId" class="modal-trigger btn-flat waves-effect waves-light">
                           <i class="material-icons">delete</i>
                        </a>
                     </div>
                  </div>
                  <ul class="collection">
                     @foreach (Pttask task in projectViewModel.Project.Pttask)
                     {
                        <li class="index-task-entry collection-item">
                           <partial name="Shared/_IndexTaskPartial" model="task" />
                        </li>
                     }
                  </ul>
               </div>
               <div id="@addModalId" class="modal bottom-sheet">
                  <partial name="_IndexProjectAddTaskPartial" model="new Pttask { PtprojectId = projectViewModel.Project.Id }" />
               </div>
               <div id="@editModalId" class="modal bottom-sheet">
                  <partial name="_IndexProjectEditPartial" model="projectViewModel.Project" />
               </div>
               <div id="@deleteModalId" class="modal bottom-sheet">
                  <partial name="_IndexProjectDeletePartial" model="projectViewModel.Project" />
               </div>
            </li>

         }
      </ul>
   </div>
</div>
