@page
@model ProgressTracker.Pages.LoginModel
@using ProgressTracker.Services;
@using Microsoft.AspNetCore.Mvc.Localization
@using SNGCommon.Resources
@inject IHtmlLocalizer<SNGCommon.Resources.Translation> localizer
@{
   ViewData["Title"] = "Login";
   Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div id="login" class="section">
   <div asp-validation-summary="ModelOnly" class="red-text"></div>
   <form method="post">
      <div class="card">
         <div class="card-content">
            <p class="title">@localizer[Translation.Login]</p>
            <div class="input-field">
               <input asp-for="Email" class="validate focus-first" placeholder="@nameof(Model.Email)">
               <span asp-validation-for="Email" class="helper-text red-text"></span>
            </div>
            <div class="input-field">
               <input asp-for="Password" class="validate" placeholder="@nameof(Model.Password)">
               <span asp-validation-for="Password" class="helper-text red-text"></span>
            </div>
            <button type="submit" class="btn waves-effect waves-light">@localizer[Translation.Login]</button>
            <a asp-page="Register" class="btn-flat waves-effect waves-light">@localizer[Translation.Register]</a>
         </div>
      </div>
   </form>
</div>




